
[submodule "Simulator/Dependencies/glmsm"]
	path = Simulator/Dependencies/glmsm
	url = https://github.com/g-truc/glm.git
[submodule "Simulator/Dependencies/myWalnut"]
	path = Simulator/Dependencies/myWalnut
	url = https://github.com/daniel360kim/Walnut.git
[submodule "Simulator/Dependencies/devWalnut"]
	path = Simulator/Dependencies/devWalnut
	url = https://github.com/daniel360kim/Walnut.git
[submodule "Simulator/Dependencies/mainWalnut"]
	path = Simulator/Dependencies/mainWalnut
	url = https://github.com/daniel360kim/Walnut.git
